body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
#header {
    background-color: #00ACC1;
    padding: 10px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #00ACC1;
}
#header h1 {
    font-size: 24px;
    margin: 0;
}
#connectionStatus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
}
#content {
    display: flex;
    flex: 1;
    height: calc(100vh - 60px);
}
#chatList {
    width: 250px;
    border-right: 1px solid #ddd;
    padding: 10px;
    background-color: #ffffff;
    overflow-y: auto;
}
#chatWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f9f9f9;
}
#messages {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: #ffffff;
}
.message {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.message:last-child {
    border-bottom: none;
}
.input-group, #auth {
    display: flex;
    margin-bottom: 10px;
}
.input-group input, .input-group select, .input-group button, #auth button{
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.input-group input, .input-group select {
    flex: 1;
}
.input-group button, #auth button{
    background-color: #00796B;
    color: #fff;
    border: none;
    cursor: pointer;
}
.input-group button:hover, #auth button:hover {
    background-color: #004D40;
}
#auth, #registration, #login, #chat {
    display: none;
}
