body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
#header {
    background-color: #00ACC1;
    padding: 10px;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header-left {
    display: flex;
    align-items: center;
}
#header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#header h1 {
    font-size: 24px;
    margin: 0;
}
.header-right {
    display: flex;
    align-items: center;
}
#connectionStatus {
    font-size: 12px;
    margin-right: 15px;
}
#logoutButton {
    background-color: #00796B;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#logoutButton:hover {
    background-color: #004D40;
}

#connectButton {
    margin: 0 auto;
    color: #f9f9f9;
    border-radius: 5px;
    border: none;
    background-color: #00796B;
    width: 10%;
    height: 5%;
}





